<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Call Example</title>
    <link th:href="@{/webjars/font-awesome/css/all.min.css}" th:rel="stylesheet" type="text/css"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet" type="text/css"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{/javascript/functions.js}"></script>

</head>
<body>
<div class="container mt-5">
    <form method="post" th:object="${expense}" th:action="@{/expenses}">
        <input th:field="*{id}" th:value="${expense.id}" type="hidden"/>
        <div class="mb-2 row">
            <label class="col-sm-1 col-form-label" th:for="expenseName" for="expenseName"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_ART}"/>
            <div class="col-sm-3">
                <input th:id="expenseName" id="expenseName" th:name="${expenseName}" class="form-control" type="text"
                       th:value="${expense.expenseName}" th:field="${expense.expenseName}"
                       th:placeholder="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_ART}"/>
            </div>
        </div>
        <div class="mb-2 row">
            <label class="col-sm-1 col-form-label" th:for="expenseTyp" for="expenseTyp"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_TYP}"/>
            <div class="col-sm-3">
                <select class="form-select" th:id="expenseTyp" id="expenseTyp" th:field="*{expenseTyp}"
                        th:onchange="selectTyp()">
                    <option th:each="calculationType : ${calculationTypes}" th:value="${calculationType}"
                            th:text="#{'' + ${calculationType.getType()} + ''}"></option>
                </select>
            </div>
        </div>
        <div id="distanceDiv" class="mb-2 row">
            <label class="col-sm-1 col-form-label" th:for="distance" for="distance"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_DISTANCE}"/>
            <div class="col-sm-2">
                <input th:id="distance" id="distance" th:name="${distance}" class="form-control" type="text"
                       th:value="${expense.millage}" th:field="${expense.millage}"
                       th:placeholder="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_DISTANCE}"
                       th:onchange="calculateAmount(this.value)"/>
            </div>
            <label class="col-sm-1 col-form-label" th:for="distance" for="distance"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_DISTANCE_UNITS}"/>
        </div>
        <div id="dayRangeDiv" class="mb-2 row">
            <label class="col-sm-1 col-form-label" th:for="dayRange" for="dayRange"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_DAYRANGE}"/>
            <div class="col-sm-2">
                <input th:id="dayRange" id="dayRange" th:name="${dayRange}" class="form-control" type="text"
                       th:value="${expense.dayRange}" th:field="${expense.dayRange}"
                       th:placeholder="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_DAYRANGE}"
                       th:onchange="calculateAmount(this.value)"/>
            </div>
        </div>
        <div class="mb-2 row">
            <label class="col-sm-1 col-form-label" th:for="amount" for="amount"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_AMOUNT}"/>
            <div class="col-sm-2">
                <input th:id="amount" id="amount" th:name="${amount}" class="form-control" type="text"
                       th:value="${expense.amount}" th:field="${expense.amount}" readonly/>
            </div>
            <label class="col-sm-1 col-form-label" th:for="amount" for="amount"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_AMOUNT_UNITS}"/>
        </div>
        <div class="mb-2 row">
            <label class="col-sm-1 col-form-label" th:for="comment" for="comment"
                   th:text="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_COMMENT}"/>
            <div class="col-sm-3">
                <textarea th:id="comment" id="comment" th:name="${comment}" class="form-control"
                          th:value="${expense.comment}" th:field="${expense.comment}"
                          th:placeholder="#{APPLICATION.WEB.PAGES.EXPENSES.EXPENSE_COMMENT}"></textarea>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-sm-3">
                <input class="btn btn-primary" type="submit" th:value="#{APPLICATION.WEB.PAGES.GENERAL.SAVE}">
            </div>
            <div class="col-sm-3">
                <input class="btn btn-warning" type="reset" th:value="#{APPLICATION.WEB.PAGES.GENERAL.REMOVE}">
            </div>
        </div>
    </form>
</div>
</body>
</html>