<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="dialog(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog"
     aria-labelledby="expensesDialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            Empty Body - Test
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    th:text="#{APPLICATION.WEB.PAGES.GENERAL.CLOSE}"></button>
            <button type="button" class="btn btn-primary" th:text="#{APPLICATION.WEB.PAGES.GENERAL.SAVE}"></button>
        </div>
    </div>
</div>
</body>
</html>